<div class="jumbotron">
        <h1 class="display-5" >Panel de administrador</h1>
        <p class="lead">Bienvenido, elija una opción.</p>
        <hr class="my-4">
        
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col ">
                    <div class="card text-white bg-primary m-3 mx-auto pointer" style="max-width: 20rem;" routerLink="/usuarios">
                            <div class="card-body">
                              <h5 class="card-title">Inquilinos</h5>
                            </div>
                            <img class="card-img-bottom  p-3" src="../../../../assets/img/user.png" alt="Usuarios">
                    </div>
            </div>
            <div class="col">
                    <div class="card text-white bg-warning m-3 mx-auto pointer" style="max-width: 20rem;" routerLink="/condominios">
                            <div class="card-body">
                              <h5 class="card-title">Condominios</h5>
                            </div>
                            <img class="card-img-bottom  p-3" src="../../../../assets/img/house.png" alt="Condominios">
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<app-usuarios></app-usuarios>
<app-condominios></app-condominios> -->
