
<section class="container m-3 mx-auto d-block">

  <div class="row h-100">
    <div class="col-8">
      <div class="jumbotron">
        <h3>Condominios</h3>
        <p>Lorem ipsum dolor sit amet, 
          consectetur adipisicing elit. Provident, 
          amet vero laborum accusantium sequi dolores adipisci
          repellendus quis optio natus a nulla facere dolore libero 
          id eos asperiores numquam sed.</p>
        
      </div>
      <div class="row">
        <div class="col">
            <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nam autem ipsa omnis voluptatum, cumque ea, dignissimos commodi numquam praesentium rerum, 
                ipsam enim odit ducimus fuga deleniti ullam eveniet quidem!</span>
        </div>
      </div>
    </div>
    <div class="col-4 align-self-center justify-content-center">
      <p>
        Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Ab quos commodi repudiandae libero,
        tenetur illo ipsam aperiam velit hic qui quidem rem 
        ipsum vero veniam dolorum! Soluta veritatis numquam suscipit?
      </p>
    </div>
  </div>
  <div class="row mt-3">
      <div class="col">
      <carousel>
          <slide>
            <img src="../../assets/img/condos1.jpg" alt="First slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
              <h3>Residencial Balcones de la Loma</h3>
              <p>Privada Camelita 1599, Colonia Loma Larga</p>
            </div>
          </slide>
          <slide>
            <img src="../../assets/img/condos2.jpeg" alt="First slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
              <h3>Residencial Balcones de la Loma</h3>
              <p>Privada Camelita 1599, Colonia Loma Larga</p>
            </div>
          </slide>
          <slide>
            <img src="../../assets/img/condos3.jpeg" alt="First slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
              <h3>Residencial Balcones de la Loma</h3>
              <p>Privada Camelita 1599, Colonia Loma Larga</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
</section>